node_modules
.vscode/
.settings/
*.code-workspace
*.code-workspace.backup
*.log
*.bak
*.swp
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/shelf/
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea_modules/
.idea_modules/doc/
.idea_modules/doc-external/
.idea_modules/linters/
.idea_modules/code_quality_tools/
.idea_modules/cvs/
.idea_modules/frameworks/
.idea_modules/resources/
/dist
.DS_Store
